<h1>Log In Below:</h1>
<form action="/sessions" method="POST">
    <label>Email: <input type="text" value="email" name="email"><br><br>
    <label>Password: <input type="text" value="passworde" name="password"><br><br>
    <input type="submit" value="Log In">
</form>

