<h1>Log In Below:</h1>

<h1>Log In Below:</h1>

<form action="/sessions" method="POST">
     <% ### USER NAME ### %>
<label for="email">User Email: </label>
<input type="text" id="email" name="email"><br><br>
     <% ### USER PASSWORD ### %>
<label for="password">User Password: </label>
<input type="text" id="password" name="password"><br><br>
     <% ### LOG IN BUTTON ### %>
<input type="submit" value="Log In">
</form>