<h1>Log In Below:</h1>
<form action='/sessions' method="post">
   <label for="email">Email:</label>
   <input name="email" type="text" id="email"><br>

   <label for="password">Password:</label>
   <input name="password" type="text" id="password"><br><br>

   <input type="submit" value="Log In" id="submit">
</form>
