<h1>Sign Up Below:</h1>
    <form method="POST" action='/registrations'>
    
    <h2>Name:</h2><input type="text" id="name" name="name"><br>

    <h2>Email:</h2><input type="text" id="email" name="email"><br>

    <h2>Password:</h2><input type="text" id="password" name="password"><br>

    <input type="submit" value="Sign Up">


