
<h1>Sign Up Below:</h1>

<form action="/registrations" method="post">
    <% ### USER NAME ### %>
<label for="name">User Name: </label>
<input type="text" id="name" name="name"><br><br>
     <% ### USER NAME ### %>
<label for="email">User Email: </label>
<input type="text" id="email" name="email"><br><br>
     <% ### USER PASSWORD %>
<label for="password">User Password: </label>
<input type="text" id="password" name="password"><br><br>
     <% ### SUBMIT BUTTON %>
<input type="submit" value="Sign Up">
</form>